
services:

  frontend:
    build: ./frontend
    container_name: app-frontend
    ports:
      - "3000:80"
    volumes:
      # Mapeamos la carpeta local ./uploads a una carpeta pública en el contenedor
      - ./uploads:/var/www/html/uploads 

  gateway:
    build: ./backend/api_gateway
    container_name: app-gateway
    ports:
      - "8000:80"
    # ¡Borra las líneas de volumes de aquí!

  usuarios:
    build: ./backend/servicio_usuarios
    container_name: srv-usuarios

  productos:
    build: ./backend/servicio_productos
    container_name: srv-productos
    volumes:
      # El servicio de productos necesita ESCRIBIR en esta carpeta
      - ./uploads:/var/www/html/public/uploads

  ventas:
    build: ./backend/servicio_ventas
    container_name: srv-ventas

  auditorias:
    build: ./backend/servicio_auditorias
    container_name: srv-auditorias